@import url("https://fonts.googleapis.com/css2?family=Lato&family=Sniglet:wght@400;800&display=swap");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

/* Color Setting Normal */
html {
  /* Default Color */
  --color: #3b3b3b;
  --color--opacity-7: rgba(59, 59, 59, 0.7);
  --color--opacity-5: rgba(59, 59, 59, 0.5);
  --color--opacity-3: rgba(59, 59, 59, 0.3);
  --color--opacity-1: rgba(59, 59, 59, 0.1);

  /* Background Color */
  --color-bg: #fff;
  --color-bg-level-2: #f8f8f8;
  --color-bg-level-3: #e9e9e9;
  --color-bg-opacity-7: rgba(255, 255, 255, 0.7);
  --color-bg-opacity-5: rgba(255, 255, 255, 0.5);
  --color-bg-opacity-1: rgba(255, 255, 255, 0.1);

  /* Theme Color */
  --color-theme: rgba(246, 117, 1, 1);
  --color-theme-opacity-7: rgba(246, 117, 1, 0.7);
  --color-theme-opacity-5: rgba(246, 117, 1, 0.5);
  --color-theme-opacity-3: rgba(246, 117, 1, 0.3);
  --color-theme-opacity-2: rgba(246, 117, 1, 0.2);
  --color-theme-opacity-1: rgba(246, 117, 1, 0.1);

  /* Theme Sub Color */
  --color-theme-sub: rgba(72, 153, 146, 1);

  /* Slidebar Color */
  --color-slidebar: #f8f8f6;

  /* Scrollbar Color */
  --color-scrollbar-bg: rgba(0, 0, 0, 0.1);
}

/* Default */
html,
body {
  height: 100%;
  min-height: 100%;
  color: var(--color);
  font-family: "Lato", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 11px;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0px;
}

em {
  font-style: normal;
}

strong,
b,
dt {
  font-weight: 800;
}

/* Button */
button {
  padding: 0;
  cursor: pointer;
}

/* Icon */
.mdi {
  display: inline-block;
  vertical-align: middle;
}

/* Layout */
#app {
  display: flex;
  position: relative;
  min-width: 800px;
  min-height: 500px;
  height: 100%;
  background-color: var(--color-theme-sub);
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 700px;
  height: 400px;
  background-color: var(--color-theme);
  background: linear-gradient(to right, var(--color-theme) 50%, var(--color-bg-level-3) 50%);

  box-shadow: 0 0 10px var(--color--opacity-3);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

aside {
  display: flex;
  flex: none;
  position: relative;
  z-index: 2;
  width: 150px;
  padding: 100px 15px 30px;

  h1 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 40px;
      height: 40px;
      background-color: var(--color-bg-opacity-5);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    &:before {
      left: 50%;
      margin-left: -10px;
    }
    &:after {
      right: 50%;
      margin-right: -10px;
    }
  }

  #lnb {
    display: flex;
    position: relative;
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      position: relative;
      z-index: 2;
      width: 100%;
      li {
        position: relative;
        margin-right: -15px;
        height: 35px;

        a {
          display: block;
          padding: 10px 10px 10px 15px;
          color: var(--color-bg);
          em {
            vertical-align: middle;
          }
          .mdi + em {
            margin-left: 7px;
          }
        }
        &.logout {
          margin-top: auto;
        }

        &.isCurrent {
          a {
            color: var(--color-theme);
            transition: all 0.1s ease-out;
          }
        }
      }
    }
    .slide-bar {
      position: absolute;
      top: 0;
      right: -15px;
      left: 0;
      z-index: 1;
      height: 35px;
      background-color: var(--color-slidebar);
      border-radius: 30px 0 0 30px;
      transition: top 0.1s ease-out;
      &:before,
      &:after {
        content: "";
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: var(--color-slidebar);
      }
      &:before {
        bottom: 100%;
        background: radial-gradient(circle at 0 0, transparent 30px, var(--color-slidebar) 30px);
      }
      &:after {
        top: 100%;
        background: radial-gradient(circle at 0 100%, transparent 30px, var(--color-slidebar) 30px);
      }
    }
  }
}

/* Common */
[class*="type--number"] {
  strong {
    font-size: 30px;
    vertical-align: top;
    & + span {
      display: inline-block;
      margin-top: 8px;
      margin-left: 3px;
    }
  }
}
