@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@500;600&display=swap');

html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: #f5f7fb;
  color: #303133;
  font-size: 15px;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
  overflow-y: scroll;

  &.el-popup-parent--hidden {
    #app {
      padding-right: 17px;
    }
    .gnb-container {
      right: 17px;
    }
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0px;
}

.content {
  canvas {
    margin: 0 auto;
  }
}

.el-form-item__label {
  text-align: left !important;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  display: none;
}
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
  content: '*';
  color: #ff4949;
  margin-right: 4px;
}

.el-form-item {
  margin-bottom: 10px !important;
  &.is-required {
    margin-bottom: 22px !important;
    .el-form-item__error {
      display: flex;
      font-size: 15px;
      &::before {
        content: '!';
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        border-radius: 100%;
        background-color: #ff5252;
        color: #fff;
        font-size: 10px;
      }
    }
  }
}

[class*='el-form-item--'] {
  .el-form-item__label {
    display: flex;
    align-items: center;
    line-height: 1.1 !important;
  }
  &[class*='medium'] .el-form-item__label {
    min-height: 36px;
  }
  &[class*='large'] .el-form-item__label {
    min-height: 40px;
  }
}

.override-date-pinker {
  height: 50px !important;
  padding: 0 !important;
  border-color: transparent !important;
  border-radius: 30px !important;
  background-color: #72747a !important;
  .el-range-separator {
    padding: 20px 0 0 !important;
    color: #fff !important;
  }
  .el-input__icon.el-icon-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-right: 6px;
    margin-left: 4px;
    border-radius: 100%;
    background-color: #fff;
  }
  .el-range__close-icon {
    display: none !important;
    color: #72747a;
  }
  .el-range-input {
    width: 35% !important;
    background-color: transparent;
    color: #fff !important;
    font-size: 17px !important;
  }
}

/* layout ****************************/
.filter-box-sec {
  .check-box {
    label {
      margin-right: 0;
    }
    input[type='checkbox'] {
      margin-right: 8px;
    }
  }
}

.el-table {
  .show {
    display: none;
  }
  tr:hover {
    .show {
      display: inline;
      padding: 0 2px;
    }
  }

  &[class*='type-flag'] {
    overflow: visible;
    .cell {
      overflow: visible;
      .flag-wrap {
        display: inline-block;
        position: relative;
        .flag {
          color: #c0c4cc;
          vertical-align: middle;
        }
        .assign-list-container {
          display: none;
        }
      }
    }
    .el-table__body .cell {
      color: #393a3b;
    }
    tr:hover {
      .flag-wrap {
        z-index: 2;
        .flag {
          color: #000;
        }
        .assign-list-container {
          display: inline-block;
        }
      }
    }
    &.type-flag {
      .assign-list-container {
        position: fixed;
        top: 50%;
        left: calc(100% + 10px);
        transform: translateY(-50%);
        > a {
          background-color: #d6dae2;
        }
      }
    }
    &.type-flag-txt {
      .txt-show.N {
        color: #c0c4cc;
      }
      tr:hover {
        .txt-show {
          display: none;
        }
      }
    }
  }
  &.type-hover {
    .txt-link {
      display: none;
    }
    tr:hover {
      .txt-show {
        display: none;
      }
      .txt-link {
        display: block;
      }
    }
  }
}

.default-table {
  .el-table__header th {
    background-color: #72747a !important;
    color: #fff;
    font-weight: normal;
  }
  .el-table__body tr:hover > td.el-table__cell {
    background-color: #f5f7fb;
  }
}

.detail-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 10px;
  .sec {
    .inner-box {
      padding: 2em 0;
      &:nth-of-type(1) {
        padding-top: 0;
      }
      & + .inner-box {
        border-top: 1px dotted #e4e7ed;
      }
    }
    h4 {
      margin-bottom: 20px;
      border-bottom: 1px solid #e4e7ed;
      font-size: 21px;
      line-height: 50px;
      + .description {
        margin-bottom: 20px;
      }
    }
    h5 {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
  .info-box-sec,
  .detail-box-sec {
    border-radius: 10px;
    background-color: #fff;
  }
  .info-box-sec {
    width: 280px;
    background-color: #ebeef5;
    .in {
      padding: 15px;
    }
    .info {
      position: relative;
      em {
        font-size: 13px;
        font-style: normal;
      }
      h3 {
        margin-bottom: 40px;
        padding-top: 4px;
        font-size: 21px;
        // margin-bottom: 20px;
        &:first-child {
          margin: 0;
        }
      }
      .txt-sub {
        margin: 4px 0 50px;
      }
      a.admin {
        position: absolute;
        top: 0;
        right: 0;
        color: #e35b0a;
        text-decoration: underline;
        font-size: 13px;
      }
      .btns {
        margin-top: -15px;
        margin-bottom: 30px;
        text-align: right;
        font-size: 14px;
        .edit {
          z-index: 2;
          width: 40px;
          height: 40px;
          border: 0;
          border-radius: 50%;
          background-color: #fff;
          color: #606266;
          cursor: pointer;
        }
      }
      .box {
        margin-top: 20px;
        background-color: #e35b0a;
        color: #fff;
        p {
          display: flex;
          line-height: 25px;
          &:first-child {
            label,
            span {
              padding-top: 10px;
            }
          }
          &:last-child {
            label,
            span {
              padding-bottom: 10px;
            }
          }
        }
        label {
          overflow: hidden;
          flex: 0 0 122px;
          padding: 0 20px;
          background-color: #72747a;
          white-space: nowrap;
          text-overflow: ellipsis;
          box-sizing: border-box;
        }
        span,
        strong {
          overflow: hidden;
          width: calc(100% - 90px);
          padding: 0 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .menu {
      margin-top: 10px;
      > li {
        border-bottom: 1px solid #c0c4cc;
        .tit {
          display: flex;
          justify-content: space-between;
          min-height: 50px;
          padding: 0 10px 0 18px;
          align-items: center;
        }
        > a {
          display: flex;
          width: 100%;
          min-height: 50px;
          padding: 0 10px 0 18px;
          align-items: center;
          color: #606266;
          box-sizing: border-box;
          &:hover,
          &.active {
            background-color: #e8f0fe;
          }
          &.more {
            justify-content: space-between;
            span {
              strong {
                color: #303133;
              }
            }
            .state {
              color: #303133;
            }
            > .more {
              display: flex;
              align-items: center;
              strong {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                color: #303133;
                text-align: center;
                line-height: 30px;
                box-sizing: border-box;
                &:hover {
                  background-color: #ceddf8;
                }
              }
            }
          }
        }
      }
    }
    .link-box {
      padding: 18px;
      a {
        color: #e35b0a;
        span {
          margin-right: 5px;
          text-decoration: underline;
        }
      }
    }
    & + .detail-box-sec {
      width: calc(100% - 280px - 20px);
    }
  }
  .detail-box-sec {
    width: 100%;
    min-height: 700px;
    border: 1px solid #dcdfe6;
    box-shadow: 0 5px 5px 0 rgba(195, 199, 204, 0.3);
    .in {
      padding: 30px;
    }
    .sec {
      padding-bottom: 40px;
    }
  }
  .active-status {
    span {
      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 100%;
      }
      &.primary::before {
        background-color: #007acc;
      }
      &.info::before {
        background-color: #909399;
      }
      &.danger::before {
        background-color: #e35b0a;
      }
      &.dormant::before {
        background-color: #c0c4cc;
      }
      &.out::before {
        background-color: #303133;
      }
    }
  }
}

.top-area {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e7ed;
  .title-box {
    position: relative;
    min-height: 80px;
    padding-left: 115px;
    .mdi {
      position: absolute;
      top: 0;
      left: 20px;
      color: #d6dae2;
    }
    h4 {
      color: #000;
      font-size: 26px;
    }
    p {
      margin-top: 6px;
      color: #909399;
      line-height: 1.3;
    }
  }
  .btns {
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
  }
}

/* common *************************/
.description {
  color: #909399;
  &.star {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '※';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.txt-link {
  color: #007acc;
  text-decoration: underline;
  &.icon {
    display: flex;
    align-items: center;
    img {
      width: 36px;
      height: 36px;
      margin-right: 10px;
      border-radius: 7px;
    }
  }
}

/* button *************************/
.btn-delete {
  display: inline-block;
  overflow: hidden;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #c0c4cc;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #a6a9ad;
  }
}

/* table *************************/
.table-sec {
  max-width: 1000px;
}
.board-container {
  // overflow: hidden;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  padding: 0 30px 10px;
  .filter-box-sec,
  .table-box-sec,
  .group-box-sec {
    float: left;
    border: 1px solid #dcdfe6;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(195, 199, 204, 0.3);
  }
  .filter-box-sec {
    width: 250px;
    .in {
      padding: 15px;
    }
    & + .table-box-sec {
      float: right;
      width: calc(100% - 250px - 20px);
    }
    &.group {
      width: 400px;
      .in {
        padding: 30px;
      }
      & + .table-box-sec {
        width: calc(100% - 400px - 20px);
      }
    }
    h3 {
      font-size: 15px;
      padding: 10px;
      &:not(:first-child) {
        padding-top: 20px;
        border-top: 1px solid #e4e7ed;
      }
      &.sub-title {
        font-size: 21px;
      }
    }
    .check-box {
      border-bottom: 1px solid #e4e7ed;
      &:last-child {
        border-bottom: 0;
      }
      label {
        display: block;
        padding: 0 15px;
        border-radius: 4px;
        color: #606266;
        line-height: 44px;
        &:hover {
          background-color: #f5f7fb;
        }
      }
    }
    .menu {
      padding: 11px 0px;
      li {
        a {
          display: flex;
          align-items: center;
          width: 100%;
          height: 40px;
          padding: 0 10px;
          color: #606266;
          box-sizing: border-box;
          &:hover,
          &.active {
            background-color: #f5f7fb;
          }
        }
      }
      &.type-depth {
        a {
          height: 40px;
          padding: 5px 20px;
        }
      }

      .sub-ctg {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30px;
        padding: 0 10px;
        color: #606266;
        box-sizing: border-box;
      }
    }
    .link-box {
      margin: 0 10px;
      padding: 18px 0;
      border-top: 1px solid #e4e7ed;
      a {
        color: #e35b0a;
        span {
          margin-right: 5px;
          text-decoration: underline;
        }
      }
    }
  }
}

// .context-box {
//   overflow-y: auto;
//   height: 375px;
//   padding: 20px;
//   margin-top: 20px;
//   background-color: rgba(252, 4, 12, 0.05);
//   box-sizing: border-box;
// }

.table-box-sec {
  width: 100%;
  .in {
    padding: 30px;
  }
  .board-set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
    border-bottom: 1px solid #e4e7ed;
    .form {
      padding-left: 30px;
      .el-select {
        margin-right: 10px;
      }
      .el-form-item {
        margin-bottom: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .board-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
    .info {
      span {
        position: relative;
        color: #72747a;
        &::after {
          content: '|';
          margin: 0 7px;
          color: #c0c4cc;
        }
      }
    }
  }
  .isIcon {
    span {
      vertical-align: middle;
    }
  }
}

/* page *************************/
.guide-sec {
  p {
    margin: 0;
    padding: 5px 0 14px;
  }
  > p {
    font-size: 19px;
    em {
      color: #e35b0a;
      text-decoration: underline;
      font-style: normal;
      font-weight: bold;
    }
  }
  .box {
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid #dcdfe6;
    border-radius: 12px;
    p {
      padding: 6px 0;
    }
    label {
      display: inline-block;
      width: 155px;
      color: #909399;
      font-size: 13px;
    }
    a {
      text-decoration: underline;
      color: #007acc;
    }
    .email {
      position: relative;
      padding-right: 40px;
      em {
        display: inline-block;
        vertical-align: top;
        font-style: normal;
      }
      .el-button.mdicon.is-circle {
        position: absolute;
        top: 50%;
        right: 0;
        width: 30px;
        height: 30px;
        padding: 0;
        transform: translateY(-50%);
        &.el-button--info {
          border-color: #e4e7ed;
          background-color: #e4e7ed;
          color: #606266;
        }
      }
    }
  }
}

.form-sec {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  > p {
    width: 190px;
    margin: 0;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    &.s2 {
      width: 380px;
    }
    &.s3 {
      width: 100%;
    }
    &.link-box {
      display: flex;
      width: auto;
      align-items: flex-end;
    }
  }
  label {
    display: block;
    padding-bottom: 5px;
    color: #909399;
    font-size: 13px;
  }
  strong,
  span {
    display: block;
    word-wrap: break-word;
  }
  a {
    color: #007acc;
    text-decoration: underline;
  }
  + .form-sec {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #e4e7ed;
  }
}

/* popup *************************/
.el-dialog__wrapper.popup {
  .el-dialog {
    border-radius: 20px;
    background-color: #f5f7fb;
  }

  h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -35px;
    padding: 0px 0 20px;
    color: #303133;
    font-weight: normal;
    font-size: 18px;
    .mdi {
      position: relative;
      top: -2px;
      color: #909399;
    }
  }

  .contants {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    .description {
      & + .el-form {
        margin-top: 15px;
      }
    }
    .field-sec {
      padding-top: 20px;
      label {
        display: block;
        position: relative;
        margin-right: 0;
        padding-left: 17px;
        border-bottom: 1px solid #e4e7ed;
        line-height: 41px;
        &:hover {
          content: '';
          background-color: #f5f7fb;
        }
        span {
          color: #303133;
          font-weight: 300;
          font-size: 13px;
        }
        &.tit {
          border-top: none;
          background-color: #e3e6ee;
          color: #303133;
          .el-checkbox__label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .el-checkbox__label {
          .order {
            position: absolute;
            top: 50%;
            right: 17px;
            width: 10px;
            height: 4px;
            color: transparent;
            transform: translateY(-50%);
            font-size: 0;
            &::after,
            &::before {
              content: '';
              position: absolute;
              top: 0;
              width: 10px;
              height: 1px;
              background-color: #c0c4cc;
            }
            &::before {
              top: auto;
              bottom: 0;
            }
          }
        }
      }
    }

    .input-set {
      display: flex;
      .el-button {
        margin-left: 10px;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px;
    padding: 20px 0 25px;
    text-align: right;
    a {
      display: inline-block;
      padding: 20px;
      color: #909399;
      font-size: 18px;
      &.info {
        color: #606266;
      }
      &.danger {
        color: #e35b0a;
      }
    }
  }
}

/* widgets *************************/
.widgets {
  overflow: hidden;
  margin: 0 -5px;
  > div {
    float: left;
  }

  .sec {
    position: relative;
    height: 450px;
    margin: 5px;
    border: 1px solid #dcdfe6;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0 rgba(195, 199, 204, 0.3);

    .loading {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        opacity: 0.8;
        border-radius: 10px;
      }
      span {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.loading .loading {
      display: block;
    }
  }

  .size-1 {
    width: 504px;
  }
  .size-2 {
    width: 1020px;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    font-size: 26px;
    cursor: move;
    .title {
      display: flex;
      strong {
        color: #e35b0a;
      }
      > span {
        padding-left: 10px;
        color: #909399;
        font-weight: normal;
        font-size: 22px;
      }
    }
    .more {
      position: absolute;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      right: 10px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      &:hover {
        background-color: #d6dae2;
        ul {
          display: block;
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 200px;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        background-color: #fff;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            padding: 0 20px;
            color: #72747a;
            font-weight: normal;
            font-size: 15px;
            white-space: nowrap;
          }
        }
      }
    }
  }
  h2 + .cmt {
    padding: 15px 0 0 30px;
    color: #909399;
    font-size: 15px;
    line-height: 20px;
  }
}
